@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* || VARIABLES */
:root {
    --COLOR-WHITE: white;
    --COLOR-GRAY-DARK: #4b5156;
    --COLOR-GRAY: #b2b6b9;
    --COLOR-GRAY-LIGHT: #e3e5e7;
    --BGCOLOR-GRAY: var(--COLOR-GRAY);
    --BGCOLOR-GRAY-LIGHT: var(--COLOR-GRAY-LIGHT);
    --BGCOLOR-GRAY-DARK: var(--COLOR-GRAY-DARK);

    --COLOR-BLUE: #6397ef;
    --BGCOLOR-BLUE: var(--COLOR-BLUE);

}

/* || UTILITY CLASSES */
.debug {
    /* background-color: burlywood; */
    border: 1px solid red;
}


/* || GENERAL STYLES */
/* resets */
* {
    box-sizing: border-box;
}

a {
    color: var(--COLOR-BLUE);
}

/* || BLOCKS */
/* components */
.button-blue {
    background-color: var(--BGCOLOR-BLUE);
    border-color: var(--BGCOLOR-BLUE);
}

.button-blue.button-clear, 
.button-blue.button-outline,
input[type='submit'].button-blue.button-clear {
    background-color: transparent;
    color: var(--COLOR-BLUE);
}

.button-blue.button-clear {
    border-color: transparent;
}

.avatar {
    width: 12rem;
    height: 12rem;
    background-image: url("https://via.placeholder.com/120x120");
    border-radius: 50%;
}

.avatar.left {
    float: left;
    margin-right: 2rem;
}

.fa {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    background-color: var(--BGCOLOR-GRAY-DARK);
    color: var(--COLOR-WHITE);
  }

  

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
  

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
