/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


/* || VARIABLES */
:root {
    --COLOR-WHITE: white;
    --COLOR-GRAY-DARK: #4b5156;
    --COLOR-GRAY: #b2b6b9;
    --COLOR-GRAY-LIGHT: #e3e5e7;
    --BGCOLOR-GRAY: var(--COLOR-GRAY);
    --BGCOLOR-GRAY-LIGHT: var(--COLOR-GRAY-LIGHT);
    --BGCOLOR-GRAY-DARK: var(--COLOR-GRAY-DARK);

    --COLOR-BLUE: #6397ef;
    --BGCOLOR-BLUE: var(--COLOR-BLUE);
    

    

}

/* || UTILITY CLASSES */
.debug {
    /* background-color: burlywood; */
    border: 1px solid red;
}


/* || GENERAL STYLES */
/* resets */
* {
    box-sizing: border-box;
}

a {
    color: var(--COLOR-BLUE);
}

/* || BLOCKS */
/* components */
.button-blue {
    background-color: var(--BGCOLOR-BLUE);
    border-color: var(--BGCOLOR-BLUE);
}

.button-blue.button-clear, 
.button-blue.button-outline,
input[type='submit'].button-blue.button-clear {
    background-color: transparent;
    color: var(--COLOR-BLUE);
}

.button-blue.button-clear {
    border-color: transparent;
}

/*.button-outline {
   border: 1px solid var(--BGCOLOR-BLUE);
   color: var(--COLOR-BLUE);
}*/



/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
  

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
