@import url(base.css);

/* || VARIABLES */

/* || UTILITY CLASSES */


/* || GENERAL STYLES */
body {
  margin: 3rem;
}


/* || BLOCKS */
/* components */


/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
.header_title {
    margin-top: 2rem;

}

/* || MODIFIERS */
/* inremental style changes  .blk-mod */


@media (min-width: 600px) {
    .avatar {
        float: left;
        margin-right: 2rem;
    }
 
}


@media (min-width: 1200px) {
  
}