/* @import url(base.css); */


/* || VARIABLES */


/* || UTILITY CLASSES */


/* || GENERAL STYLES */


/* || BLOCKS */
/* components */
.example {
    margin-bottom: 4rem;
    margin-top: 4rem;
    position: relative;
}
.heading-font-size {
    color: #999;
    font-size: 1.2rem;
    letter-spacing: normal;
}

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
  

/* || MODIFIERS */
/* inremental style changes  .blk--mod */
