@import url(base.css);

/* || VARIABLES */

/* || UTILITY CLASSES */


/* || GENERAL STYLES */

/* || BLOCKS */
/* components */
.layout-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 15rem 1fr 9rem;
  grid-template-areas: 
    "header header header header header header header header"
    "sidebar sidebar main main main main main main"
    "footer footer footer footer footer footer footer footer"
}

.header {
    grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */


/* || MODIFIERS */
/* inremental style changes  .blk-mod */
