@import url(base.css);

/* || VARIABLES */

/* || UTILITY CLASSES */


/* || GENERAL STYLES */

/* || BLOCKS */
/* components */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */


/* || MODIFIERS */
/* inremental style changes  .blk-mod */
