@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* || VARIABLES */
:root {
    --COLOR-WHITE: white;
    
    --COLOR-GRAY-DARK: #4b5156;
    --COLOR-GRAY: #b2b6b9;
    --COLOR-GRAY-LIGHT: #e3e5e7;
    --COLOR-GRAY-LIGHT2: #f5f5f5;
    
    --BGCOLOR-GRAY-DARK: var(--COLOR-GRAY-DARK);
    --BGCOLOR-GRAY: var(--COLOR-GRAY);
    --BGCOLOR-GRAY-LIGHT: var(--COLOR-GRAY-LIGHT);
    --BGCOLOR-GRAY-LIGHT2: var(--COLOR-GRAY-LIGHT2);
    
    --COLOR-BLUE: #6397ef;
    
    --BGCOLOR-BLUE: var(--COLOR-BLUE);

}

/* || UTILITY CLASSES */
.debug {
    /* background-color: burlywood; */
    border: 1px solid red;
}


/* || GENERAL STYLES */
/* resets */
* {
    box-sizing: border-box;
}

body {
    margin: 3rem;
}

h1, 
h2, 
h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-bottom: 2rem;
}

blockquote {
    border-left: 0.3rem solid var(--COLOR-GRAY);
}

pre {
    background: var(--COLOR-GRAY-LIGHT);
    border-left: 0.3rem solid var(--COLOR-BLUE);
}
code {
    background: var(--COLOR-GRAY-LIGHT2);

}

a {
    color: var(--COLOR-BLUE);
}

hr {
    margin: 1rem 0;
}

/* || BLOCKS */
/* components */
.button {
    background-color: var(--BGCOLOR-BLUE);
    border-color: var(--BGCOLOR-BLUE);
}

.button.button-clear, 
.button.button-outline,
input[type='submit'].button.button-clear {
    background-color: transparent;
    color: var(--COLOR-BLUE);
}

.button.button-clear {
    border-color: transparent;
}

.authorinfo {
    margin: 1.5rem;
    padding: 1.5rem;
    font-weight: 400;
  }
  

.avatar {
    width: 12rem;
    height: 12rem;
    background-image: url("https://via.placeholder.com/120x120");
    border-radius: 50%;
}

/* .avatar.left {
    float: left;
    margin-right: 2rem;
} */

.fa {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 0.2rem;
    border-radius: 50%;
  }
  
  .fa:hover {
    background-color: var(--BGCOLOR-GRAY-DARK);
    color: var(--COLOR-WHITE);
  }

.card {
  background-color: var(--BGCOLOR-GRAY-LIGHT);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
  width: 23rem;
}



/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
.card_title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -.1rem;
}

.card_headline {
    height: 10rem;
    margin-bottom: 2rem;
}

.card_button {
    height: 5rem;
}

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
