 @import url(base.css); 


/* || VARIABLES */


/* || UTILITY CLASSES */


/* || GENERAL STYLES */
body {
    margin: 0.8rem;
}


/* || BLOCKS */
/* components */

.nav-entry {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.example {
    margin: 2.2rem 0.8rem 2.2rem 0.8rem;
    position: relative;
}

.small-text {
    font-size: 1.2rem;
    letter-spacing: normal;
}

.colorbox {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--COLOR-WHITE);
    
}

.footer {
    height: 8rem;
    background-color: var(--BGCOLOR-GRAY-LIGHT);
    display: flex;
    align-items: center;
}


/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
.header_title {
    text-align: center;
}

.header_nav {
    display: block;
}

.header_ol {
    margin: 1rem;
}

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
.example-flex {
    display: flex;
    flex-direction: column;
    
}

.colorbox-graydark {
    background-color: var(--BGCOLOR-GRAY-DARK);
}

.colorbox-gray {
    background-color: var(--BGCOLOR-GRAY);
}

.colorbox-graylight {
    background-color: var(--BGCOLOR-GRAY-LIGHT);
}

.colorbox-blue {
    background-color: var(--BGCOLOR-BLUE);
}


@media (min-width: 600px) {
    .header_nav {
        display: flex;
        justify-content: space-between;
    }
    
    .example-flex {
        flex-direction: row;
    }
}