
/* || VARIABLES */


/* || UTILITY CLASSES */


/* || GENERAL STYLES */


/* || BLOCKS */
/* components */
.dsexample {
    margin: 2.2rem 0.8rem 2.2rem 0.8rem;
    position: relative;
}

.dssmall-text {
    font-size: 1.2rem;
    letter-spacing: normal;
}

.dscolorbox {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--COLOR-WHITE);
    
}

.dsfooter {
    height: 8rem;
    background-color: var(--BGCOLOR-GRAY-LIGHT);
    display: flex;
    align-items: center;
}


/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
.dsheader_title {
    text-align: center;
}

.dsheader_nav {
    display: block;
}

.dsheader_ol {
    margin: 1rem;
}

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
.dsexample-flex {
    display: flex;
    flex-direction: column;
    
}

.dscolorbox-graydark {
    background-color: var(--BGCOLOR-GRAY-DARK);
}

.dscolorbox-gray {
    background-color: var(--BGCOLOR-GRAY);
}

.dscolorbox-graylight {
    background-color: var(--BGCOLOR-GRAY-LIGHT);
}

.dscolorbox-blue {
    background-color: var(--BGCOLOR-BLUE);
}
