
/* || VARIABLES */

/* || UTILITY CLASSES */


/* || GENERAL STYLES */


/* || BLOCKS */
/* components */
.homebody {
  display: flex;
  justify-content: center;
}

.homelayout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem auto 1fr 9rem;
  grid-template-areas: 
    "header"
    "sidebar"
    "main"
    "footer"
}

.homeheader {
    grid-area: header;
}

.homesidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  width: 14rem;
}


.homemain {
  grid-area: main;
}

.homebdashboard {
  display: flex;
  flex-direction: column;
}

.homefooter {
  grid-area: footer;
  color: var(--COLOR-WHITE);
  background-color: var(--BGCOLOR-GRAY-DARK);
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 5px;

}

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* .blk_item */
.homeheader_title {
  margin: 1rem;
  font-weight: 400;
}

/* || MODIFIERS */
/* inremental style changes  .blk-mod */
